<!-- <p>page-not-fount works!</p> -->
<body class="bg-dark">
    
    <div class="container bg-dark p-5 mt-5">
        <div class="row">
            <div class="col-12">
                <img src="https://agentestudio.com/uploads/post/image/69/main_how_to_design_404_page.png" alt="">
                <h1 class="text text-center text-light mt-4">Oops Page not found!</h1>
                <p>404 Error page not found </p>
                <button class="back-button btn  border border-2 border-warning rounded-4 ">Go Back</button>
            </div>
    </div>
    </div>
</body>
