.nav-main{
    display: flex;
    flex-direction: row;
}
img{
    width: 40px;
    height: 40px;
    /* border-radius: 50%;
    background-color: white; */
    border-radius: 3px;
}
.heading{
    height: 100%;
    /* margin-top: 90px; */
    /* padding-top: 50px; */
}
p{
    margin-left: 20px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.line{
    height: 5px;
    color: white;
}